/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  scroll-behavior: smooth;
}
/* Mobile-first base styles */
nav {
  background-color: pink;
  display: flex;
  justify-content: space-around;
}

.hamburger {
  display: none;
}

.navMenu a {
  text-decoration: none;
  color: black;
  padding: 15px 16px;
  display: block;
  text-align: center;
  margin: 1%;
}

.active {
  color: white;
}

ul {
  list-style-image: url('../images/hibiscus3.png');
}

.navMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 0.5rem;
}

.navMenu,
.navMenu ul {
  list-style-type: none;
  list-style-image: none;
}

.navMenu ul {
  display: none;
  background-color: pink;
  position: relative;
}

.Ham ul li {
  width: 200px;
  float: none;
  display: list-item;
}

.Ham li:hover {
  background-color: black;
}

.Ham li:hover > a {
  color: white;
}

.navMenu .Ham:hover {
  border: 1px solid black;
}

.navMenu .Ham:hover > ul {
  display: block;
}

figure {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid pink;
}

figure img {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  box-shadow: 5px 5px 15px grey;
}

figcaption {
  font-size: 12px;
  text-align: center;
  color: #555;
  margin-top: 10px;
}

body {
  font-family: cursive;
  background-image: url('../images/pink-250774_640.jpg');
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: azure;
  text-align: center;
  border: 4px solid pink;
}

h1 {
  color: rgb(21, 75, 21);
}

h3 {
  color: rgb(21, 75, 21);
}

section {
  background-color: azure;
  border: 4px solid pink;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

section > *{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
footer {
  background-color: azure;
  text-align: center;
}

/* Tablet view */
@media (min-width: 764px) {
  /* Two-column layout */
  section {
    justify-content: center;
  }

  section > * {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
  }

  section > ul {
    width: 100%;
  }

  header{
    position: sticky;
    top: 0;
  }

  .navMenu ul {
    position: absolute;
  }

  .navMenu {
    flex-direction: row;
    gap: 5rem;
  }

  .navMenu > * {
    flex: 1;
  }
}

/* Desktop view */
@media (min-width: 1024px) {
  /* Three-column layout */
  section {
    justify-content: center;
  }

  .navMenu ul {
    position: absolute;
  }

  header{
    position: sticky;
    top: 0;
  }

  section > * {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
  }

  section > ul {
    width: max-content;
  }

  .navMenu {
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
  }

  .navMenu > * {
    flex: 1;
  }
}