/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Mobile-first base styles */
  body {
    font-family: cursive;
    background-image: url('../images/pink-250774_640.jpg');
    width: 80%;
    margin: 0 auto;
  }
  
  /* Navigation styles */
  .nav {
    background-color: pink;
    display: flex;
    justify-content: space-around;
  }
  
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    width: 100%;
  }
  
  .navMenu a {
    text-decoration: none;
    color: black;
    padding: 15px 16px;
    display: block;
    text-align: center;
    margin: 1%;
  }
  
  .active {
    color: white;
  }
  
  /* Main content styles */
  main ul {
    list-style-image: url('../images/hibiscus3.png');
  }
  
  .header {
    background-color: azure;
    text-align: center;
    border: 4px solid pink;
    padding: 1rem;
    width: 100%;
  }
  
  h1, h3 {
    color: rgb(21, 75, 21);
  }
  
  .main {
    background-color: azure;
    border: 4px solid pink;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  
  .content-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .content-item img {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
  }
  
  .footer {
    background-color: azure;
    text-align: center;
    width: 100%;
  }
  
  /* Image styles */
  figure {
    margin: 0;
    padding: 0;
  }
  
  figcaption {
    font-size: 12px;
    text-align: center;
    color: #555;
    margin-top: 10px;
  }
  
  /* Layout styles */
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
  
  /* Tablet view */
  @media (min-width: 764px) {
    .navMenu {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .main {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .content-item {
      grid-template-columns: 1fr 2fr;
    }

    /* Layout styles */
  .container {
    display: grid;
    grid-template-areas:
        "nav"  
        "header"
        "main"
        "footer";
    }
  }
  
  /* Desktop view */
  @media (min-width: 1024px) {
    .main {
      grid-template-columns: repeat(3, 1fr);
    }
  }