/*page layout and design*/
.grid-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/background.webp);
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    justify-content: center;
    margin: 0;
}

.header {
    grid-area: header;
    background-color: #BF4BF8;
    color: white;
    text-align: center;
    padding: 20px;
}

.main {
    grid-area: main;
    background-color: #b3f813;
    padding: 20px;
    margin: 50px;
    margin-bottom: 2rem;
}

h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
  }

/*Game button and info on home page*/
.startbutton {
    display: inline-block;
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Fredoka One';
}


.animal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.animal-grid img {
    width: 100%;
    border-radius: 50%;
}

/*Simon says Game*/
#game-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(246, 18, 18, 0.1);
    text-align: center;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    background-size: cover;
    background-position: center;
}

#lion {
    background-image: url(../images/lion.png);
}

#elephant {
    background-image: url(../images/elephant.png);
}

#monkey {
    background-image: url(../images/monkey.png);
}

#penguin {
    background-image: url(../images/penguin.png);
}

#chicken {
    background-image: url(../images/chicken.png);
}

#octopus {
    background-image: url(../images/octopus.png);
}

.button.lit {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(0, 255, 8);
}

#start-button {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-button:hover {
    background-color: #ff8e8e;
}

#score,
#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/*styling the nav bar*/
.nav a {
    text-decoration: none;
    font-size: larger;
    padding: 15px 16px;
    display: block;
    color: purple;
}

.nav ul { 
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #2AC9F9;
}

.nav li:hover {
    background-color: black;
}

.nav li a:hover {
    color: white;
}

.active {
    background-color: #00000033;
}

/*footer*/
.footer {
    grid-area: footer;
    background-color: #2AC9F9;
    color: purple;
    text-align: center;
    padding: 1rem;
}

.footer a {
    text-decoration: none;
    font-size: larger;
    padding: 15px 16px;
    display: block;
    color: purple;
    list-style-type: none;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #2AC9F9;
}

.footer li {
    display: inline;
    float: left;
    overflow: hidden;
    text-decoration: none;
}

/*videos*/
iframe {
    width: auto;
    height: auto;
}

/*Feedback form*/
div {
    margin-bottom: 1rem;
}

/* Tablet view */
@media (min-width: 768px) {
    /*page layout*/
    .grid-container {
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
        margin: 50px;
    }

    /*horizontal navbar*/
    .nav li {
        display: inline;
        float: left;
        overflow: hidden;
    }

    /*three column grid - images*/
    .animal-grid {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .animal-grid img {
        width: 100%;
        border-radius: 50%;
        height: 90%;
    }

    /*two column grid*/
    .animal-fact {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 5rem;
    }
    
    .animal-fact img {
        width: calc(50%-10px);
        height: 80%;
    }

    h1 {
        font-size: 32px;
    }

    .button {
        width: 120px;
        height: 120px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {

    h1 {
        font-size: 40px;
    }

    .animal-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }

    .animal-fact img {
        width: calc(33.33%-10px);
    }

    .button {
        width: 150px;
        height: 150px;
    }

    #buttons-container {
        gap: 20px;
    }
}