body {
    margin: 0;
    padding: 0;
    color: purple;
}
/*page layout*/
.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

.header {
    grid-area: header;
    background-color: thistle;
    color: purple;
    text-align: center;
    padding: 1rem;
}

.gallery {
    display: grid;
    gap: 10px;
    padding: 15px;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.footer {
    grid-area: footer;
    background-color: thistle;
    color: purple;
    text-align: center;
    padding: 1rem;
}

.footer a {
    text-decoration: none;
    font-size: larger;
    padding: 15px 16px;
    display: block;
    color: purple;
    list-style-type: none;
}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: thistle;
}

.footer li {
    display: inline;
    float: left;
    overflow: hidden;
}

/*styling the nav bar*/
.nav a {
    text-decoration: none;
    font-size: larger;
    padding: 15px 16px;
    display: block;
    color: purple;
    list-style-type: none;
}

.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: thistle;
}

.nav li:hover {
    background-color: black;
}

.active {
    background-color: black;
}

div {
    margin-bottom: 1rem;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .games,
  .stories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .game,
  .stories {
    text-align: center;
  }
  
  .game img,
  .stories img {
    max-width: 200px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/*main content padding*/
div.content, main {
    padding: 10px;
}

/*tablet view*/
@media (min-width: 768px) {
    .grid-container {
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
    }

    .nav li {
        display: inline;
        float: left;
        overflow: hidden;
    }

    div.content {
        display: grid;
        grid-template-columns: auto auto;
        width: calc(50%-10px);
        border: 2px solid black;
        padding: 12px;
    }

    div.item {
        text-align: left;
        padding: 10px;
    }

    .gallery {
        grid-template-columns: auto auto;
    }

    .gallery img {
        width: 90%;
        height: 90%;
    }
}

/*desktop view*/
@media (min-width: 1024px) {
    .gallery img {
        width: 90%;
        height: 90%;
    }

    .gallery {
        grid-template-columns: auto auto auto;
    }

    div.content {
        display: grid;
        grid-template-columns: auto auto auto;
        width: auto;
        border: 2px solid black;
        padding: 12px;
    }

    div.item {
        text-align: left;
        padding: 10px;
    }
}