.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}

/*page layout*/
form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 10px;
}

/*tablet view*/
@media (min-width: 768px) {
  body {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
  form {
    grid-template-columns: 1fr 1fr;
    background-color: plum;
  }

  button {
    align-items: center;
    
  }
}