/*Advanced grid layout*/
.grid-container-body {
    display: grid;
    grid-template-areas: 
        'sidebar'    
        'header'
        'content'
        'footer'; /*you can rearrange any of these grid items to move things around to different locations on your page*/
    grid-template-columns: 1fr 2fr 1fr;

    gap: 10px;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: aquamarine;
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
}

.content {
    grid-area: content;
    background-color: #f1f1f1;
}

.footer {
    grid-area: footer;
    background-color: aquamarine;
}
/*Grid layout*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px; /*added a gap between the rows and columns*/
    padding: 20px;/*added space before and after the grid*/
}

.grid-item {
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 2px solid #333;
}

.item1 {
    grid-column: 1/4;/*specifies the start and end of item1*/
    background-color: palevioletred;
}

.item2 {
    grid-column: 4/5;
    background-color: peru;
}

.item3 {
    grid-column: 1/2;
    background-color: salmon;
}

.item4 {
    grid-column: 2/5;
    background-color: purple;
}

/*styling nav bar*/
nav ul{
    padding: 20px;
    list-style-type: georgian;
    margin: 20px;
    overflow: hidden;
}

/*media queries used to help the page look good on different devices*/
/*min-width just overrides the top styles for the grid-container after it exceeds the specified min width*/
@media (min-width: 1024px) {
    .grid-container-body {
        grid-template-areas: 
            'header header header'
            'sidebar content content'
            'footer footer footer';
        grid-template-columns: 1fr 2fr 1fr;
    }
}