nav ul{
    list-style: none;
    padding: none;
    
}
nav li {
    display: inline;
}
nav a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 15px 16px;
}
nav a:hover{
    color: antiquewhite;
    background-color: gray;
}
.active{
    background-color: #04AA6D;
}
nav a:before{
    content: "";
    display: inline;
    width: 20px;
    height: 20px;
    background-image: url("../images/home.png");
    background-size: cover;
    margin-right: 5px;
    vertical-align: middle;
}