h1{
  font-weight: 900;
  font-size: 30px;
}

/*page layout*/
.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
  background-color: bisque;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header {
  grid-area: header;
  background-color: aliceblue;
  color: #333;
  text-align: center;
  padding: 1rem;
}


.footer {
  grid-area: footer;
  background-color: wheat;
  color: green;
  text-align: center;
  padding: 1rem;
}

img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  box-shadow: 5px 5px 15px grey;
}

/* nav bar*/
.nav {
  background-color: wheat;
}

.nav a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  padding: 15px 16px;
  display: block;
  color: green;
  background-color: wheat;
}

.nav ul {
  list-style-type: none;
  background-color: wheat;
}

.nav li a:hover {
  background-color: black;
}

/*dropdown menu*/
.nav ul ul {
  display: none;
  position: absolute;
  background-color: wheat;
}

.nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
}

.nav ul li:hover > ul {
  display: block;
}

/*Tablet view*/
@media (min-width: 768px) {
  /*page layout*/
  .grid-container {
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
    background-color: honeydew;
    font-size: 18px;
}
    
  /*nav bar*/
  .nav li {
    float: left;
    display: inline;
    overflow: hidden;
  }

  img {
    width: calc(50% - 10px);
  }
    
  /* Two-column layout */
  .main {
    grid-area: main;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
    
  .column {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
  }

  .column:last-child {
    width: 100%
  }
}

/*desktop view*/
@media (min-width: 1024px) {
  .grid-container {
    font-size: 22px;
    background-color: salmon;
  }
    
  /*Three-column layout */
  .flex-container {
    flex-direction: row;
  }
    
  .column {
    width: 30%;
    padding: 20px;
  }

  .main-content {
    width: 75%;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }
}
